<html dir="ltr">
   <head>
      <title>Preview</title>
      <link type="text/css" rel="stylesheet" href="https://principalfinanceltd.flg360.co.uk/js/ckeditor/contents.css?t=F74C">
   </head>
   <body style="">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>bank loa Template</title>
      <link rel="stylesheet" href="">
      <div class="template">
         <div class="container" style="width: 1024px;margin: 0 auto;font-family: sans-serif;">
            <div class="details" style="float: right;text-align: right;">
               <p style="font-size: 21px;">Match Me Legal</p>
               <p style="font-size: 21px;">39 Deansgate</p>
               <p style="font-size: 21px;">Manchester</p>
               <p style="font-size: 21px;">M3 2BA</p>
               <h3>Contact Number: 0161 768 0251</h3>
               <h3>Reference Number:</h3>
            </div>
            <div class="head" style="width: 100%;margin: 100px 0;float: left;">
               <h1 style="
                  text-decoration: underline;
                  line-height: 20px;
                  ">Private and confidential</h1>
            </div>
            <div class="letter" style="float: left;width: 100%;">
               <p style="font-size: 26px;margin: 26px 0 45px 0;">Your <span style="color: rgba(0, 176, 240, 1);font-weight: bold;">Mortgage Claim</span></p>
               <p style="
                  margin: 26px 0;
                  line-height: 24px;
                  font-size: 21px;
                  ">Dear</p>
               <p style="
                  margin: 26px 0;
                  line-height: 24px;
                  font-size: 21px;
                  ">Thank you for your recent enquiry to <span style="color: rgba(0, 176, 240, 1);font-size: 21px;"> Match me the legal</span></p>
               <p style="
                  margin: 26px 0;
                  line-height: 24px;
                  font-size: 21px;
                  ">We are pleased to offer you a full and free assessment of your mortgage, to identify any possible claims for compensation.</p>
               <p style="
                  margin: 26px 0;
                  line-height: 24px;
                  font-size: 21px;
                  ">To start the claims process, we now require a copy of your mortgage file. Don’t worry, we will get this from your lender.
                  With this letter you will find two Letter of Authority forms, which allow us to request a copy of this file from them.
               </p>
               <p style="
                  margin: 26px 0;
                  line-height: 24px;
                  font-size: 21px;
                  ">If you have indicated that a second signatory has been on this mortgage. We have enclosed a Second Claimant Letter of Authority with this letter that must be signed by them and returned to us, along with your own form before we can request your mortgage file.</p>
               <p style="
                  margin: 26px 0;
                  line-height: 24px;
                  font-size: 21px;
                  ">
                  <b>Please carefully check the details on the forms and complete any details that are missing. It is essential that you</b> sign and date the forms otherwise we will not be able to request your mortgage file. Once you are happy that they are <b>completed accurately and in full, simply return them to us in the freepost envelope provided.</b>
               </p>
               <p style="font-size: 21px;">All work is carried out on a <b>No Win No Fee*</b> basis. If you do not receive compensation, you will not be charged.</p>
               <p style="line-height: 24px;margin-top: 65px; font-size: 21px;">Our team is waiting to start your full mortgage assessment today.</p>
               <p style="margin: 26px 0;line-height: 24px ; font-size: 21px;">Yours Sincerely,</p>
               <p style="margin-top: 50px;margin-bottom: 250px; font-size: 21px;">Match Me Legal Ltd.</p>
            </div>
            <div class="guide-to-next-steps" style="float: left;width: 100%; margin-top: 40px;">
               <h1>A Guide To The <span style="color: rgba(0, 176, 240, 1);font-weight: none !important;">Next Steps</span></h1>
               <p style="margin-top: 3px !important; font-size: 21px;margin-bottom: 4px !important;margin: 26px 0;line-height: 24px;">This guide describes the mortgage assessment process. With <span style="font-size: 21px;">Match Me Legal</span> the process is simple and hassle-free
                  We will work <b>free of charge</b>  to fully assess whether you may have a claim.
               </p>
            </div>
            <div class="steps" style="
               float: left;
               width: 100%;
               ">
               <ul style="padding-left: 0;list-style: none;">
                  <li style="margin: 14px 0;display: block;float: left;width: 100%;">
                     <div style="font-weight: 900;float: left;font-size: 57px;padding: 0px 15px;color: #fff;border: 1px solid #fff;background-color: rgba(0, 176, 240, 1);border-radius: 50px;width: 5%;text-align: center;">
                        <span>1</span>
                     </div>
                     <div style="padding-left: 7px;width: 90%;float: right;margin-top: 12px;">
                        <h3 style="margin: 0 !important;font-weight:700;font-size: 19px;"><span style="color: rgba(0, 176, 240, 1);">Return</span>Your Encloased Forms</h3>
                        <p style="margin-top: 3px !important; font-size: 21px;margin-bottom: 4px !important;line-height: 24px;">These forms are called Letter’s of Authority or LOA’s. They allow us to request your mortgage file from your Lender.</p>
                     </div>
                  </li>
                  <li style="margin:14px 0;display: block;float: left;width: 100%;">
                     <div style="font-weight: 900;float: left;font-size: 57px;padding: 0px 15px;color: #fff;border: 1px solid #fff;background-color: rgba(0, 176, 240, 1);border-radius: 50px;width: 5%;text-align: center;">
                        <span>2</span>
                     </div>
                     <div style="padding-left: 7px;width: 90%;float: right;">
                        <h3 style="margin: 0 !important;font-weight:700;font-size: 19px;">Your<span style="color: rgba(0, 176, 240, 1);"> Mortgage</span> File</h3>
                        <p style="margin-top: 3px !important;margin-bottom: 4px !important;margin: 26px 0;font-size: 21px; line-height: 24px;">Once we receive your signed LOA we request your mortgage file from your provider. They have 30 days to respond,
                           as per data protection regulations
                        </p>
                     </div>
                  </li>
                  <li style="margin:14px 0;display: block;float: left;width: 100%;">
                     <div style="font-weight: 900;float: left;font-size: 57px;padding: 0px 15px;color: #fff;border: 1px solid #fff;background-color: rgba(0, 176, 240, 1);border-radius: 50px;width: 5%;text-align: center;">
                        <span>3</span>
                     </div>
                     <div style="padding-left: 7px;width: 90%;float: right;">
                        <h3 style="margin: 0 !important;font-weight:700;font-size: 19px;">Expert <span style="color: rgba(0, 176, 240, 1);"> Assessment</span></h3>
                        <p style="margin-top: 3px !important;margin-bottom: 4px !important;margin: 26px 0; font-size: 21px;line-height: 24px;">Once we have received your file, our dedicated team will complete an in-depth audit, utilising our specialist software.</p>
                        <p style="margin-top: 3px !important;margin-bottom: 4px !important;margin: 26px 0;font-size: 21px;line-height: 24px;">After we have completed your assessment, we will contact you to inform you of the outcome.</p>
                     </div>
                  </li>
                  <li style="margin:14px 0;display: block;float: left;width: 100%;">
                     <div style="font-weight: 900;float: left;font-size: 57px;padding: 0px 15px;color: #fff;border: 1px solid #fff;background-color: rgba(0, 176, 240, 1);border-radius: 50px;width: 5%;text-align: center;">
                        <span>4</span>
                     </div>
                     <div style="padding-left: 7px;width: 90%;float: right;margin-top: 12px;">
                        <h3 style="margin: 0 !important;font-weight:700;font-size: 19px;"><span style="color: rgba(0, 176, 240, 1);">Specialist </span>Law Firm</h3>
                        <p style="margin-top: 3px !important;margin-bottom: 4px !important;margin: 26px 0;line-height: 24px;font-size: 21px;">We select a firm from our panel of solicitors. They deal with your claim on a <b>No Win No Fee*</b> basis.</p>
                     </div>
                  </li>
                  <li style="margin:14px 0;display: block;float: left;width: 100%;">
                     <div style="font-weight: 900;float: left;font-size: 57px;padding: 0px 15px;color: #fff;border: 1px solid #fff;background-color: rgba(0, 176, 240, 1);border-radius: 50px;width: 5%;text-align: center;">
                        <span>5</span>
                     </div>
                     <div style="padding-left: 7px;width: 90%;float: right;margin-top: 12px;">
                        <h3 style="margin: 0 !important;font-weight:700;font-size: 19px;"><span style="color: rgba(0, 176, 240, 1);">Staying</span> in Touch</h3>
                        <p style="margin-top: 3px !important;font-size: 21px;margin-bottom: 4px !important;margin: 26px 0;line-height: 24px;">As your case progresses, we will update you via text and email. If you have any questions please call us on
                           <b>0161 768 0251</b>
                        </p>
                     </div>
                  </li>
               </ul>
            </div>
            <div class="points" style="clear: both;padding: 21px 0;">
               <p style="
                  margin: 26px 0;
                  line-height: 24px;
                  font-size: 21px;
                  ">You are under no obligation to proceed and are welcome to pursue this independently.</p>
               <p style="
                  margin: 26px 0;
                  line-height: 24px;
                  font-size: 21px;
                  ">You will not pay anything for work undertaken at this point.</p>
               <p style="font-size: 12px;margin: 26px 0;line-height: 24px;">* There may be cancellation charges once your case has been passed to a solicitor if you cancel your claim after 4 days but before it’s completed.
                  There is no charge if you complete your claim but it is unsuccessful.
               </p>
            </div>
            <div class="sub-point" style="float:right;margin: 0 auto;padding: 100px 0 0px 0;margin: 200px 0 70px 0;line-height: 24px;">
               <p style="text-align: center;font-size: 21px; ">If you require any assistance completing this document please contact us on <b>0161 768 0251</b> </p>
            </div>
            <div class="letter" style="clear: both;">
               <div class="letter-head" style="text-align: center;background-color: rgba(0, 176, 240, 1);color: #fff;padding: 6px 0;">
                  <h2 style="margin: 0;padding: 1px 0;line-height: 33px;">LETTER OF AUTHORITY-First Claimant</h2>
                  <p style="margin: 0 ; font-size:14px"><i>TO Match Me Legal</i></p>
               </div>
               <div class="letter-detail">
                  <p style="
                     margin: 26px 0;
                     line-height: 24px;
                     font-size: 21px;
                     ">I authorise Match Me Legal Limited to act on my behalf in respect of my claim for redress in respect of a mortgage. If deemed to be in my best interest I give Match Me Legal Limited full authority to refer my claim to any other third party, including but not limited to the Financial Ombudsman Service, and/or the Financial Services Redress Scheme and/or one of its panel solicitors. I am aware I could progress this matter personally, but I wish to instruct Match Me Legal to pursue this investigation on my behalf.</p>
                  <p style="
                     margin: 26px 0;
                     line-height: 24px;
                     font-size: 21px;
                     ">I agree and accept that upon signing this Letter of Authority, Match Me Legal Limited will submit a Data Subject Access Request (under section.45 of The Data Protection Act 2018 and under Article 15 of the General Data Protection Regulation) to the below named provider of my mortgage to provide a copy of all personal data relating to me.</p>
               </div>
               <form action="check" style="border:0 !important; padding:0;">
                  <div class="form-div" style="
                     margin-top: 70px;
                     ">
                     <div class="form-first-l" style="float: left;clear: both;width: 48%;margin: 2px 0;">
                        <h1 style="margin: 0;font-size: 30px;">First Claimant's <span style="color: rgba(0, 176, 240, 1);">Personal Details</span></h1>
                     </div>
                     <div class="form-first-r" style="float: right;">
                        <div class="ref" style="float: right;width: 342px;">
                           <p style="font-size: 14px;text-align: left;">Our Reference Number:</p>
                        </div>
                     </div>
                     <div class="form-section">
                        <div class="form-l" style="float: left;clear: both;width: 49%;">
                           <p style="
                              font-size: 14px;
                              ">First Name:</p>
                           <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                           <p style="
                              font-size: 14px;
                              margin: 22px 0;
                              ">SurName:</p>
                           <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 5px;">
                           <p style="
                              font-size: 14px;
                              margin: 17px 0;
                              ">Maiden name or any other previous name:</p>
                           <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                        </div>
                        <div class="form-r" style="float: right;width: 48%;">
                           <p style="
                              font-size: 14px;
                              ">Current Address:</p>
                           <textarea name="jfyvk" style="
                              border: 1px solid saddlebrown;
                              border-radius: 9px;
                              height: 117px;
                              width: 100%;
                              padding: 11px 0px;
                              ">                </textarea>
                           <p style="font-size: 14px;margin: 15px 0;">Date of Birth:</p>
                           <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                        </div>
                     </div>
                     <div class="form-first-l" style="float: left;clear: both;width: 100%;margin-top: 28px;">
                        <h1 style="margin: 0;">First Claimant's <span style="color: rgba(0, 176, 240, 1);">Additional Information</span></h1>
                     </div>
                     <div class="form-section">
                        <div class="form-l" style="float: left;width: 69%;">
                           <p style="
                              font-size: 17px;
                              margin: 18px 0 26px 0;
                              line-height: 24px;
                              ">Mortgage Provider: Please do not enter another provider as the form will be rejected by your lender. If the provider is not correct please contact us for a new form</p>
                           <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                           <p style="
                              font-size: 14px;
                              ">Address of property i would like to make a claim against</p>
                           <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                           <p style="
                              font-size: 14px;
                              ">Previous Address 1</p>
                           <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                           <p style="
                              font-size: 14px;
                              ">Previous Address 2</p>
                           <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                        </div>
                        <div class="form-r" style="float: right;width: 28%;">
                           <textarea placeholder="Account number:and any other accounts" style="border: 1px solid saddlebrown;border-radius: 9px;height: 76px;width: 100%;padding: 15px 0px;margin-top: 23px;">                  </textarea>
                           <p style="margin: 13px 0;font-size: 14px;">Mortgage Start Date:</p>
                           <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                           <p style="margin: 14px 0;font-size: 14px;">Move In Date:</p>
                           <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                           <p style="font-size: 14px;margin: 14px 0;">Move In Date:</p>
                           <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                        </div>
                        <div class="signed" style="float: left;width: 100%;">
                           <div class="signed-l" style="float: left;width: 49%;">
                              <p style="font-size: 14px;margin: 16px 0;">Signed:</p>
                              <input type="text" style="border: 2px solid brown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                           </div>
                           <div class="signed-r" style="float: right;width: 49%;">
                              <p style="
                                 font-size: 14px;
                                 margin: 16px 0;
                                 ">Date:</p>
                              <input type="text" style="border: 2px solid brown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                           </div>
                        </div>
                        <div style="clear: both;padding: 26px 0 100px 0;">
                           <hr style="clear: both;border: 2px solid brown;border-radius: 5px;">
                        </div>
                     </div>
                  </div>
                  <div class="button" style="float: right;margin-bottom: 20px;">
                     <div style="float: right;">
                        <button type="submit" style="border: 1px solid brown;border-radius: 24px;color:rgba(0, 176, 240, 1);background-color: #fff;padding: 10px 16px;">PLEASE <b>READ, COMPLETE, SIGN &amp; RETURN</b> THIS DOCUMENT</button>
                     </div>
                     <p style="/* clear: both; */padding: 20px 0 0px 0;margin: 30px 0;line-height: 24px;">If you require any assistance completing this document please contact us on <b>0161 768 0251</b></p>
                  </div>
               </form>
               <div class="letter" style="clear: both;">
                  <div class="letter-head" style="text-align: center;background-color: rgba(0, 176, 240, 1);color: #fff;padding: 6px 0;">
                     <h2 style="margin: 0;padding: 1px 0;line-height: 33px;">LETTER OF AUTHORITY-Second Claimant</h2>
                     <p style="margin: 0;"><span style="
                        font-size: 25px;
                        font-weight: bold;
                        ">TO Match Me Legal</span></p>
                  </div>
                  <div class="letter-detail">
                     <p style="
                        font-size: 21px;
                        margin: 26px 0;
                        line-height: 24px;
                        ">I authorise Match Me Legal Limited to act on my behalf in respect of my claim for redress in respect of a mortgage. If deemed to be in my best interest I give Match Me Legal Limited full authority to refer my claim to any other third party, including but not limited to the Financial Ombudsman Service, and/or the Financial Services Redress Scheme and/or one of its panel solicitors. I am aware I could progress this matter personally, but I wish to instruct Match Me Legal to pursue this investigation on my behalf.</p>
                     <p style="
                        font-size: 21px;
                        margin: 26px 0;
                        line-height: 24px;
                        ">I agree and accept that upon signing this Letter of Authority, Match Me Legal Limited will submit a Data Subject Access Request (under section.45 of The Data Protection Act 2018 and under Article 15 of the General Data Protection Regulation) to the below named provider of my mortgage to provide a copy of all personal data relating to me.</p>
                  </div>
                  <form action="check" style="border:0 !important; padding:0;">
                     <div class="form-div" style="
                        margin-top: 70px;
                        ">
                        <div class="form-first-l" style="float: left;clear: both;width: 100%;margin: 2px 0;">
                           <h1 style="margin: 0;font-size: 30px;">Second Claimant's <span style="color: rgba(0, 176, 240, 1);">Personal Details</span></h1>
                        </div>
                        <div class="form-first-r" style="float: right;">
                           <div class="ref" style="float: right;width: 342px;">
                              <p style="font-size: 14px;text-align: left;">Our Reference Number:</p>
                           </div>
                        </div>
                        <div class="form-section">
                           <div class="form-l" style="float: left;clear: both;width: 49%;">
                              <p style="
                                 font-size: 14px;
                                 ">First Name:</p>
                              <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                              <p style="
                                 margin: 18px 0;
                                 font-size: 14px;
                                 ">SurName:</p>
                              <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 5px;">
                              <p style="
                                 margin: 17px 0;
                                 font-size: 14px;
                                 ">Maiden name or any other previous name:</p>
                              <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                           </div>
                           <div class="form-r" style="float: right;width: 48%;">
                              <p style="
                                 font-size: 14px;
                                 ">Current Address:</p>
                              <textarea name="jfyvk" style="
                                 border: 1px solid saddlebrown;
                                 border-radius: 9px;
                                 height: 110px;
                                 width: 100%;
                                 padding: 11px 0px;
                                 ">                </textarea>
                              <p style="font-size: 14px;margin: 15px 0;">Date of Birth:</p>
                              <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                           </div>
                        </div>
                        <div class="form-first-l" style="float: left;clear: both;width: 100%;margin-top: 28px;">
                           <h1 style="margin: 0;">Second Claimant's <span style="color: rgba(0, 176, 240, 1);">Additional Information</span></h1>
                        </div>
                        <div class="form-section">
                           <div class="form-l" style="float: left;width: 69%;">
                              <p style="
                                 margin: 18px 0 26px 0;
                                 font-size: 14px;
                                 line-height: 24px;
                                 ">Mortgage Provider: Please do not enter another provider as the form will be rejected by your lender. If the provider is not correct please contact us for a new form</p>
                              <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                              <p style="
                                 font-size: 14px;
                                 ">Address of property i would like to make a claim against</p>
                              <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                              <p style="
                                 font-size: 14px;
                                 ">Previous Address 1</p>
                              <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                              <p style="
                                 font-size: 14px;
                                 ">Previous Address 2</p>
                              <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                           </div>
                           <div class="form-r" style="float: right;width: 28%;">
                              <textarea placeholder="Account number:and any other accounts" style="border: 1px solid saddlebrown;border-radius: 9px;height: 76px;width: 100%;padding: 15px 0px;margin-top: 23px;">                  </textarea>
                              <p style="font-size: 14px;margin: 13px 0;">Mortgage Start Date:</p>
                              <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                              <p style="font-size: 14px;margin: 14px 0;">Move In Date:</p>
                              <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                              <p style="font-size: 14px;margin: 14px 0;">Move In Date:</p>
                              <input type="text" style="border: 1px solid saddlebrown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                           </div>
                           <div class="signed" style="float: left;width: 100%;">
                              <div class="signed-l" style="float: left;width: 49%;">
                                 <p style="font-size: 14px;margin: 16px 0;">Signed:</p>
                                 <input type="text" style="border: 2px solid brown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                              </div>
                              <div class="signed-r" style="float: right;width: 49%;">
                                 <p style="
                                    font-size: 14px;
                                    margin: 16px 0;
                                    ">Date:</p>
                                 <input type="text" style="border: 2px solid brown;border-radius: 9px;width: 100%;padding: 11px 0px;">
                              </div>
                           </div>
                           <div style="clear: both;padding: 23px 0 67px 0;">
                              <hr style="clear: both;border: 2px solid brown;border-radius: 5px;">
                           </div>
                        </div>
                     </div>
                     <div class="button" style="float: right;clear: both;">
                        <div style="float: right;clear: both;">
                           <button type="submit" style="border: 1px solid brown;border-radius: 24px;color:rgba(0, 176, 240, 1);background-color: #fff;padding: 10px 16px;">PLEASE <b>READ, COMPLETE, SIGN &amp; RETURN</b> THIS DOCUMENT</button>
                        </div>
                        <p style="clear: both;padding: 10px 0 0px 0;/* margin: 26px 0 0px 0; */line-height: 24px;margin: 0 0;">If you require any assistance completing this document please contact us on <b>0161 768 0251</b></p>
                     </div>
                  </form>
               </div>
               <!--container-->
            </div>
            <!--template-->
         </div>
      </div>
   </body>
</html>