@font-face {
    font-family: 'NewsGoth BT';
    src: url('../fonts/NewsGothicBT-Roman.woff2') format('woff2'),
        url('../fonts/NewsGothicBT-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

